body{
    background-color: bisque;
}
header{
    background-color: azure;
    display:flex;
}
.cont{
    margin-left: auto;
    text-align: left;
    padding:1rem 1rem;
}
footer{
    background-color: aliceblue;
    text-align: center;
    bottom:0;
    width:100%;
    position: fixed;
}
.photo img{
      max-width: 100px;
      line-height: 2;
}